/* @import url("https://fonts.googleapis.com/css?family=Open+Sans"); */
.App {
	text-align: center;
	font-family: "Open Sans", sans-serif;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.App-add-padding {
	padding-top: 65px;
}
/**
Sticky footer Css styles
*/
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	background-color: lightgray;
	/* background-color: red; */
	overflow: hidden;
}
